/* You can add global styles to this file, and also import other style files */

/*
    Available Fonts:

    font-family: 'PT Sans', sans-serif;
    font-family: 'Titillium Web', sans-serif;
*/
* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    overflow: auto;
    background-color: #F6F7F5;
    font-family: 'PT Sans', sans-serif;
}
