<footer>
    <div class="content">
        <div class="first-row">
            <div class="lists-container">
                <div class="list">
                    <h3>Navigation</h3>
                    <div>
                        <a routerLink="/">Home</a>
                        <a routerLink="/new">Create New</a>
                        <a routerLink="/api-instructions">API Instructions</a>
                    </div>
                </div>
                <div class="list">
                    <h3>Related Sites</h3>
                    <div>
                        <a href="https://isak-tech.tk">Isak Tech</a>
                        <a href="https://portal.isak-tech.tk">Portal</a>
                        <a href="https://isak-tech.tk/#/news-letter">Email List</a>
                    </div>
                </div>
                <div class="list">
                    <h3>More Links</h3>
                    <div>
                        <a href="https://isak-tech.tk/#/privacy">Privacy Policy</a>
                        <a href="https://fonts.google.com/specimen/PT+Sans?query=PT+sans&preview.text_type=custom&sidebar.open=true&selection.family=PT+Sans|Titillium+Web">Favorite Fonts</a>
                        <a href="https://github.com/DustiasTheGuy">Github</a>
                        <a target="_blank" href="https://discord.gg/VwkWMjD2">Discord</a>
                    </div>
                </div>
            </div>

            <img src="/assets/logo-sm.png">
        </div>

        <hr>

        <div class="second-row">
            <div>
                <p>Isak Tech <i class="far fa-copyright"></i> All Rights Reserved 2021</p>
                <span class="seperator">-</span>
                <p>postmaster@isak-tech.tk</p> 
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/isakdev2021/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/IsakDev-129898532256800"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/isakdev1"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/DustiasTheGuy"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>

