section {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    
    .meta {
        padding: 1em;

        p {
            margin: 4px 0;
        }
    }

    .meta span {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 4px;
            &::after {
                content: ',';
            }
        }
    }
    div.body {
        white-space: pre-wrap;
        //background-color: rgb(238, 238, 238);
        flex-grow: 1;
        padding: 1em;
        max-width: 100%;
        overflow-wrap: break-word;
    }
}