<section *ngIf="render">
    <div class="settings">
        <input type="range" [(ngModel)]="settings.rowPadding" min="0" max="50">
    </div>

    <div class="table">
        <div class="table-head">
            <div class="table-row" [ngStyle]="{ 'padding': settings.rowPadding + 'px' }">
                <p>ID</p>
                <p>DATE</p>
                <p>BODY</p>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" *ngFor="let post of posts" [routerLink]="'/paste/' + post._id" [ngStyle]="{ 'padding': settings.rowPadding + 'px' }">
                <p>{{post._id}}</p>
                <p>{{post.date | date: 'medium'}}</p>
                <p>{{post.body}}</p>
            </div>
        </div>
    </div>
</section>