section {
    width: 100%;

    .table {
        display: flex;
        flex-direction: column;
        width: 100%;

        .table-head {
            font-weight: bold;
            .table-row {
                p {
                    padding: 1em;
                }
            }
        }

        
        .table-body { 
            .table-row {
                &:hover {
                    background-color: rgb(235, 235, 235);
                    cursor: pointer;
                }
            }
        }

        .table-row {
            display: grid;
            grid-template-columns: 1fr 1fr 5fr;

            width: 100%;
            border-bottom: 1px solid rgb(224, 224, 224);

            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                margin: 0;
                font-size: 12px;
                padding: 0 1em;

                &:nth-child(2) {
                    border-left: none;
                    border-right: none;
                    
                }
            }
        }
    }
}