section {
    width: 100%;
    min-height: 80vh;

    .table {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em;
        
        .table-head {
            font-weight: bold;
            .table-row {
                p {
                    padding: .5em; 
                }
            }
        }

        
        .table-body { 
            .table-row {
                &:hover {
                    background-color: rgb(235, 235, 235);
                    cursor: pointer;
                }
            }
        }

        .table-row {
            display: grid;
            grid-template-columns: 1fr 2fr 2fr 4fr;
            width: 100%;

            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(224, 224, 224);
            }
            
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                margin: 0;
                font-size: 12px;
                padding: .5em; 

                &:nth-child(2) {
                    border-left: none;
                    border-right: none;
                }
            }

            p.tags {
                display: flex;

                span {
                    display: inline-block;
                    &:not(:last-of-type) {
                        margin-right: 4px;
                        &::after {
                            content: ','
                        }
                    }
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        padding: 2em;
        
        button {
            padding: .7em;
            min-width: 140px;

            &:not(:last-of-type) {
                margin-right: 1em;
            }
        }
    }
}