<section *ngIf="render">
    <div class="table">
        <div class="table-head">
            <div class="table-row">
                <p>ID</p>
                <p>DATE</p>
                <p>TITLE</p>
                <p>TAGS</p>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" *ngFor="let post of posts" [routerLink]="'/paste/' + post.id">
                <p>{{post.id}}</p>
                <p>{{post.date | date: 'medium'}}</p>
                <p>{{post.title}}</p>
                <p *ngIf="post.tags != null" class="tags">
                    <span *ngFor="let tag of post.tags">{{tag}}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="actions">
        <button [disabled]="paginationData.page <= 0" (click)="paginate(paginationData.page - 1, paginationData.limit)">Back</button>
        <button [disabled]="paginationData.page >= paginationData.pages" (click)="paginate(paginationData.page + 1, paginationData.limit)">Forward</button>
    </div>
</section>